@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700|Oswald:400:700);

.jumbotron {
  font-family: fantasy;
   background: rgba(255, 254, 254, 0.5);

}
#home-page {
    background: url("../images/home.jpg");
    background-size:cover;
    text-align: center;
    color: white
}
#market-page {
    background: url("../images/market.png");
    background-size:cover;
    text-align: center;
    color: white
}
#lazy {
    background: url("../images/kayne.jpg");
    background-size:cover;
    text-align: center;
    color: white
}
#village-page {
    background: url("../images/village.jpg" );
    background-size:cover;
    text-align: center;
    color: white
}
#adventure-page {
    background: url("../images/divergent-paths.jpg" );
    background-size:cover;
    text-align: center;
    color: white
}

#dragon-page {
    background: url("../images/dragon.jpg" );
    background-size:cover;
    text-align: center;
    color: white
}

body
{
  background: url(http://www.ambrosiasw.com/assets/images/graphics_products/ipadwallpaper/wallpaper/Felt-Green.jpg);
}

.sleeve
{
  position: relative;
  background: transparent;
  line-height: 2.5em;
  border: 0;
  padding: 0 40px 0 15px;
  border: 1px solid #aaa;
  border-radius: 4px 200px 0px 4px;
  background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(229,229,229,1) 100%);
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 34px;
  color: #333;
  text-shadow: 0px 1px 3px #fff;
  margin-right: 120px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  min-width: 170px;
}

.insert
{
  position: absolute;
  left: 10px;
  top: 3%;
  display: block;
  z-index: -100;
  width: 100%;
  height: 94%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
  font-family: 'Oswald';
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0,0,0,0.6);
  border-radius: 2px;
  text-align: right;
  padding-right:10px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.50) inset, 2px 2px 5px rgba(0,0,0,0.5);
  transition: all 1s ease-in-out;
  border-right: 1px dotted rgba(0,0,0,0.5);
}

.sleeve:hover .insert
{
  text-align: right;
  width: 150%;
  transition: all 1s ease-in-out;
}

.insert.Gold
{
  background: linear-gradient(to bottom, rgba(250,250,10,1) 0%,rgba(218,165,32,1) 100%);
}

.insert.Health
{
  background: linear-gradient(to bottom, rgba(207,4,3,1) 0%,rgba(207,4,4,1) 100%);
}
